.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  height: 4rem;
  top: 0;
  background-color: rgb(255, 255, 255);
  z-index: 100;
  width: 100vw;
}
.header_icon {
  object-fit: contain;
  height: 4rem;
  margin-left: 7rem;
}

.header_center {
  display: flex;
  flex: 1;
  align-items: center;
  max-width: fit-content;
  padding: 10px;
  height: 30px;
  border: 1px solid lightgray;
  border-radius: 999px;
}

.header_center > input {
  border: none;
  padding: 10px;
  outline-width: 0;
  /* width: 250px; */
}
.search_icon {
  border-radius: 10rem;
  background-color: rgb(1, 7, 1);
  color: rgb(253, 57, 57);
  padding: 5px;
  font-size: 1px;
}

.header_right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15vw;
  margin-right: 80px;
  font-size: 0.8rem;
}

@media screen and (max-width: 610px) {
  .header_right {
    display: none;
  }
  .header_icon {
    display: none;
  }
}
